<div class="input-thumbnails">
    <div class="header">
        <div class="name">Thumbnails (Optional)</div>
    </div>
    <div class="cards preview">
        <a *ngFor="let thumbnail of thumbnails" class="card">
            <div (click)="removeThumbnail(thumbnail)" class="img">
                <img [src]="sanitize(thumbnail.src)" alt="{{thumbnail.name}}"/>
                <div class="overlay"></div>
                <i class="fas fa-times-circle open"></i>
            </div>
        </a>
        <a class="card add">
            <div class="img">
                <i class="fas fa-plus icon"></i>
                <div class="overlay"></div>
                <input (change)="addThumbnail(thumbnail)" #thumbnail accept="image/gif, image/jpeg, image/png" type="file" />
            </div>
        </a>
    </div>
</div>