<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Media Browser</title>
    <link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>
    <style>
        body {
            background: rgb(231,231,232);
            background: linear-gradient(335deg, rgba(231,231,232,1) 0%, rgba(242,242,242,1) 100%);
            color: LightSteelBlue;
        }
        body, button, h1 {
            font-family: 'Archivo Narrow';
        }
        button {
            background: DodgerBlue;
            border: 0;
            box-sizing: border-box;
            color: GhostWhite;
            display: inline-block;
            padding: 10px;
            width: 200px;
        }
    </style>
</head>
<body>
    <h1>Coming Soon...</h1>

    <form method="post" action="/logout">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
