<div class="form-section">
  <h3>People</h3>

  <!-- Cast -->
  <div class="form-group">
    <label>Cast</label>
    <div class="array-input">
      @for (member of peopleData.cast; track $index; let i = $index) {
        <div class="array-item">
          <app-typeahead-input
            #castInput
            [(ngModel)]="peopleData.cast[i]"
            [suggestions]="getCastSuggestions()"
            placeholder="Cast member name"
            (ngModelChange)="onPeopleChange()"
            (suggestionSelected)="onSuggestionSelected('cast', i, $event)"
          ></app-typeahead-input>
          <button
            (click)="removeArrayItem('cast', i)"
            class="remove-button"
            type="button">
            <i class="fa-solid fa-times"></i>
          </button>
        </div>
      }
      <button
        (click)="addArrayItem('cast')"
        class="add-button"
        type="button">
        <i class="fa-solid fa-plus"></i> Add Cast Member
      </button>
    </div>
  </div>

  <!-- Directors -->
  <div class="form-group">
    <label>Directors</label>
    <div class="array-input">
      @for (director of peopleData.directors; track $index; let i = $index) {
        <div class="array-item">
          <app-typeahead-input
            #directorsInput
            [(ngModel)]="peopleData.directors[i]"
            [suggestions]="getDirectorsSuggestions()"
            placeholder="Director name"
            (ngModelChange)="onPeopleChange()"
            (suggestionSelected)="onSuggestionSelected('directors', i, $event)"
          ></app-typeahead-input>
          <button
            (click)="removeArrayItem('directors', i)"
            class="remove-button"
            type="button">
            <i class="fa-solid fa-times"></i>
          </button>
        </div>
      }
      <button
        (click)="addArrayItem('directors')"
        class="add-button"
        type="button">
        <i class="fa-solid fa-plus"></i> Add Director
      </button>
    </div>
  </div>

  <!-- Genres -->
  <div class="form-group">
    <label>Genres</label>
    <div class="array-input">
      @for (genre of peopleData.genres; track $index; let i = $index) {
        <div class="array-item">
          <app-typeahead-input
            #genresInput
            [(ngModel)]="peopleData.genres[i]"
            [suggestions]="getGenresSuggestions()"
            placeholder="Genre name"
            (ngModelChange)="onPeopleChange()"
            (suggestionSelected)="onSuggestionSelected('genres', i, $event)"
          ></app-typeahead-input>
          <button
            (click)="removeArrayItem('genres', i)"
            class="remove-button"
            type="button">
            <i class="fa-solid fa-times"></i>
          </button>
        </div>
      }
      <button
        (click)="addArrayItem('genres')"
        class="add-button"
        type="button">
        <i class="fa-solid fa-plus"></i> Add Genres
      </button>
    </div>
  </div>

  <!-- Producers -->
  <div class="form-group">
    <label>Producers</label>
    <div class="array-input">
      @for (producer of peopleData.producers; track $index; let i = $index) {
        <div class="array-item">
          <app-typeahead-input
            #producersInput
            [(ngModel)]="peopleData.producers[i]"
            [suggestions]="getProducersSuggestions()"
            placeholder="Producer name"
            (ngModelChange)="onPeopleChange()"
            (suggestionSelected)="onSuggestionSelected('producers', i, $event)"
          ></app-typeahead-input>
          <button
            (click)="removeArrayItem('producers', i)"
            class="remove-button"
            type="button">
            <i class="fa-solid fa-times"></i>
          </button>
        </div>
      }
      <button
        (click)="addArrayItem('producers')"
        class="add-button"
        type="button">
        <i class="fa-solid fa-plus"></i> Add Producer
      </button>
    </div>
  </div>

  <!-- Writers -->
  <div class="form-group">
    <label>Writers</label>
    <div class="array-input">
      @for (writer of peopleData.writers; track $index; let i = $index) {
        <div class="array-item">
          <app-typeahead-input
            #writersInput
            [(ngModel)]="peopleData.writers[i]"
            [suggestions]="getWritersSuggestions()"
            placeholder="Writer name"
            (ngModelChange)="onPeopleChange()"
            (suggestionSelected)="onSuggestionSelected('writers', i, $event)"
          ></app-typeahead-input>
          <button
            (click)="removeArrayItem('writers', i)"
            class="remove-button"
            type="button">
            <i class="fa-solid fa-times"></i>
          </button>
        </div>
      }
      <button
        (click)="addArrayItem('writers')"
        class="add-button"
        type="button">
        <i class="fa-solid fa-plus"></i> Add Writer
      </button>
    </div>
  </div>
</div>