<div class="typeahead-container">
  <input
    (blur)="onBlur()"
    (focus)="onFocus()"
    (input)="onInput($event)"
    (keydown)="onKeyDown($event)"
    [placeholder]="placeholder"
    [value]="displayValue"
    #inputElement
    autocomplete="off"
    class="form-input array-field"
    type="text"/>
  @if (showDropdown && filteredSuggestions.length > 0) {
    <div class="typeahead-dropdown">
      @for (suggestion of filteredSuggestions; track $index; let i = $index) {
        <div
          (mousedown)="selectSuggestion(suggestion)"
          (mouseenter)="highlightedIndex = i"
          [class.highlighted]="i === highlightedIndex"
          class="typeahead-option">
          {{ suggestion }}
        </div>
      }
    </div>
  }
</div>