<div class="no-cards" *ngIf="response && (!response.results || (response.results.length || 0) == 0)">
    <span>no results</span>
</div>
<div *ngIf="response?.results" class="header header-tab">
    <h1 class="tab"><i class="fas fa-list-ul"></i> Playlists</h1>
    <div class="tab"><button (click)="add()"><i class="fas fa-upload"></i></button></div>
</div>
<div *ngIf="response?.results && (response?.results?.length || 0) > 0" class="cards">
    <a [routerLink]="['/Playlist/' + item.id + '/Files']" *ngFor="let item of (response?.results || [])" class="card">
        <div class="img">
            <i class="fas fa-list-ol icon"></i>
            <img *ngIf="item.thumbnails?.length" src="{{item.thumbnails[0].url}}" alt="{{item.name}}"/>
            <div class="overlay"></div>
            <i class="fas fa-search-plus open"></i>
            <h1>{{item.name}}</h1>
        </div>
    </a>
</div>
