<div class="input-name">
    <div class="header">
        <div class="name">Name Required</div>
        <div (click)="update()" class="button"><i class="fas fa-save"></i></div>
    </div>
    <input type="text" [(ngModel)]="name" placeholder="Name" />
</div>

<div class="input-description">
    <div class="name">Description (Optional)</div>
    <textarea [(ngModel)]="description"></textarea>
</div>

<app-role-builder *ngIf="users.hasRole('ADMIN')" header="Read Roles" [selection]="readRoles"></app-role-builder>

<app-role-builder *ngIf="users.hasRole('ADMIN')" header="Update Roles" [selection]="updateRoles"></app-role-builder>

<app-thumbnail-builder [thumbnails]="thumbnails" [thumbnailsToRemove]="thumbnailsToRemove"></app-thumbnail-builder>
