body {
  background: rgb(231,231,232);
  background: linear-gradient(335deg, rgba(231,231,232,1) 0%, rgba(242,242,242,1) 100%);
  color: LightSteelBlue;
}

body, button, div, h1, h2, h3, h4, h5, h6, p, span {
  border: 0;
  font-family: 'Archivo Narrow';
  margin:0;
  padding: 0;
}

.login-modal {
  background: GhostWhite;
  height: 172px;
  left: 50%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 400px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  input {
    box-sizing: border-box;
    color: LightSlateGray;
    display: inline-block;
    margin: 2.5% 0 2.5% 2.5%;
    padding: 10px;
    width: 95%;
  }

  button {
    background: DodgerBlue;
    box-sizing: border-box;
    color: GhostWhite;
    display: inline-block;
    margin: 0 0 0 72.5%;
    padding: 10px;
    width: 25%;
  }
}
