<div class="input-name">
    <div class="header">
        <div class="name">Name (Optional)</div>
        <div (click)="save()" class="button"><i class="fas fa-save"></i></div>
    </div>
    <input type="text" [(ngModel)]="name" placeholder="Name" />
</div>

<div class="input-description">
    <div class="name">Description (Optional)</div>
    <textarea [(ngModel)]="description"></textarea>
</div>

<div class="input-file">
    <div class="header">
        <div class="name">File</div>
    </div>
    <div class="preview">
        
        <div class="controls">
            <button (click)="makeThumbnail(video)" *ngIf="src && type == 'Video'" class="save"><i class="fas fa-camera"></i></button>
        </div>

        <audio [style.display]="src && type == 'Audio' ? 'block' : 'none'" src="{{src}}" controls></audio>
        <img [style.display]="src && type == 'Photo' ? 'block' : 'none'" src="{{src}}" />
        <video #video [style.display]="src && type == 'Video' ? 'block' : 'none'" controls></video>
        
    </div>
</div>

<app-role-builder *ngIf="users.hasRole('Admin')" header="Read Roles" [selection]="readRoles"></app-role-builder>

<app-role-builder *ngIf="users.hasRole('Admin')" header="Update Roles" [selection]="updateRoles"></app-role-builder>

<app-playlist-builder [fileid]="id" [playlistsForFile]="playlistsForFile"></app-playlist-builder>

<app-thumbnail-builder #thumbnailBuilder [thumbnails]="thumbnails" [thumbnailsToRemove]="thumbnailsToRemove"></app-thumbnail-builder>