<div class="player-container">
  @if (mediaData) {
    <div 
      (mouseleave)="onMouseLeave()"
      (mousemove)="onMouseMove()"
      [class.fade-out]="!headerVisible"
      class="player-header">
      @if (hasHistory) {
        <button (click)="goBack()" class="back-button">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
      }
      <h2>{{ mediaData.title }}</h2>
      <button (click)="editMedia()" class="edit-button">
        <i class="fa-solid fa-file-pen"></i>
      </button>
    </div>
  }
  
  <div class="player">
    @if (mediaData && mediaData.mime.startsWith('video/')) {
      <video 
        (loadedmetadata)="applySavedVolume()"
        (volumechange)="onVolumeChange($event)"
        [poster]="mediaData.thumbnailUrl"
        #videoElement
        autoplay
        class="video-element"
        controls>
        <source [src]="mediaData.url" type="{{ mediaData.mime }}">
        Your browser does not support the video tag.
      </video>
    }

    @if (mediaData && mediaData.mime.startsWith('audio/')) {
      <audio 
        (loadedmetadata)="applySavedVolume()"
        (volumechange)="onVolumeChange($event)"
        [ngStyle]="{'backgroundImage':'url(' + mediaData.thumbnailUrl + ')'}"
        #audioElement
        autoplay
        class="audio-element"
        controls>
        <source [src]="mediaData.url" type="{{ mediaData.mime }}">
        Your browser does not support the audio element.
      </audio>
    }

    @if (mediaData && mediaData.mime.startsWith('image/')) {
      <img 
        [src]="mediaData.url"
        alt="{{ mediaData.title }}"
        class="image-element"/>
    }
  </div>
  
  @if (!mediaData) {
    <div class="no-media">
      <p>No media data available</p>
      <button (click)="goBack()">Return to Search</button>
    </div>
  }
</div>