<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="ColoredConsoleERRORAppender" type="ColoredConsole" layout="${time} - ${level:padding=5} - ${logger}.${message}" useDefaultRowHighlightingRules="true">
      <highlight-row condition="level == LogLevel.Error or level == LogLevel.Fatal" foregroundColor="Red" />
    </target>
    <target name="ColoredConsoleAppender" type="ColoredConsole" layout="${time} - ${level:padding=5} - ${message}" useDefaultRowHighlightingRules="true">
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
      <highlight-row condition="level != LogLevel.Warn and level != LogLevel.Info" foregroundColor="White" />
    </target>
    <target name="OutputDebugStringAppender" type="Debugger" layout="${time} ${level:padding=5} - ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="ColoredConsoleERRORAppender" />
    <logger name="*" maxlevel="Info" writeTo="ColoredConsoleAppender" />
    <logger name="*" writeTo="OutputDebugStringAppender" />
  </rules>
</nlog>
