.star-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--primary1-bg);
  transition: transform 0.1s;
}

.star-button:hover {
  transform: scale(1.1);
}

.star-rating {
  display: flex;
  gap: 0.25rem;
}