<div class="meta-container">
  <div class="meta-header">
    <h2>{{ type }}</h2>
  </div>
  
  <div class="meta-content" #metaGrid>
    <div class="meta-grid" *ngIf="!isLoading && metaMembers.length > 0">
      <a class="result-card" 
           *ngFor="let metaMember of metaMembers;" 
           [ngStyle]="{'backgroundImage':'url(' + metaMember.imageUrl + ')'}"
           [title]="metaMember.name"
           [routerLink]="metaMember.searchPath"
           [queryParams]="metaMember.searchParams">
        <div class="card-overlay">
          <div class="meta-info">
            <div class="meta-name">{{ metaMember.name }}</div>
          </div>
        </div>
      </a>
    </div>
    
    <!-- Empty state -->
    <div class="empty-state" *ngIf="!isLoading && metaMembers.length === 0">
      <span>No {{ type }} members found</span>
    </div>
  </div>
  
  <!-- Full screen spinner overlay -->
  <app-spinner [isLoading]="isLoading"></app-spinner>
</div>