div.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

div.preview {
  flex: 1 1 auto;
  max-height: calc(100% - 3.2em);
  
  div.info-dialog {
  
    ul {
      background: rgba(0, 0, 0, 0.8);
      border-radius: 5px;
      color: white;
      font-size: 1.25em;
      left: 50%;
      list-style-type: none;
      margin: 0;
      padding: 20px;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      width: 80%;
    }
  }  
}
