<div [style.display]="infoVisible && file ? 'block' : 'none'" class="info-dialog">
    <ul>
        <li *ngFor="let stream of file?.audioStreams || []">{{stream}}</li>
        <li *ngFor="let stream of file?.videoStreams || []">{{stream}}</li>
    </ul>
</div>
<div class="preview">
    
    <div [ngClass]="{'controls': true, 'controls-hidden': this.controls.appComponent?.fullScreen || false}">
        <button (click)="cache()"><i [ngClass]="{'fas fa-save': !this.file?.cached, 'far fa-trash-alt': this.file?.cached}"></i></button>
        <button (click)="toggleFullScreen()"><i class="fas fa-expand"></i></button>
        <button (click)="viewInfo()"><i class="fas fa-info-circle"></i></button>
        <button (click)="edit()"><i class="fas fa-edit"></i></button>
        <button (click)="toggleAutoplay()"><i [ngClass]="{'fas': true, 'fa-play-circle': !this.controls.autoPlay, 'fa-pause-circle': this.controls.autoPlay}"></i></button>
    </div>

    <audio *ngIf="id.length && file && file.type == 'Audio'" src="/api/files/{{id}}/contents" autoplay controls (ended)="endOfFile()"></audio>
    <img *ngIf="id.length && file && file.type == 'Photo'" src="/api/files/{{id}}/contents" />
    <video *ngIf="id.length && file && file.type == 'Video'" autoplay controls (ended)="endOfFile()">
        <source src="/api/files/{{id}}/contents" type="{{file.contentType}}">
    </video>

</div>