div.info-dialog {
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;

  ul {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    font-size: 1.25em;
    left: 50%;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 80%;
  }
}

div.preview {
  height: 100%;

  div.controls {
    button {
      background: transparent;
      width: 1.5em;

      i {
        color: DodgerBlue;
        text-shadow: 0 0 10px white;
      }
      i:hover {
        opacity: 0.5;
      }
    }
  }
}