<div class="box">
    <div *ngIf="file && !this.controls.appComponent?.fullScreen" class="header header-tab">
        <span><i class="fas fa-list-ul"></i> {{file?.name}}</span>
        <div>
            <button (click)="toggleAutoplay()"><i [ngClass]="{'fas': true, 'fa-play-circle': !this.controls.autoPlay, 'fa-pause-circle': this.controls.autoPlay}"></i></button>
            <button (click)="edit()"><i class="fas fa-edit"></i></button>
            <button (click)="viewInfo()"><i class="fas fa-info-circle"></i></button>
            <button (click)="toggleFullScreen()"><i class="fas fa-expand"></i></button>
            <button (click)="cache()"><i [ngClass]="{'fas fa-save': !this.file?.cached, 'far fa-trash-alt': this.file?.cached}"></i></button>
        </div>
    </div>
    <div class="preview">
        <audio *ngIf="id.length && file && file.type == 'Audio'" src="/api/files/{{id}}/contents" autoplay controls (ended)="endOfFile()"></audio>
        <img *ngIf="id.length && file && file.type == 'Photo'" src="/api/files/{{id}}/contents" />
        <video *ngIf="id.length && file && file.type == 'Video'" autoplay controls (ended)="endOfFile()">
            <source src="/api/files/{{id}}/contents" type="{{file.contentType}}">
        </video>
        <div [style.display]="infoVisible && file ? 'block' : 'none'" class="info-dialog">
            <ul>
                <li *ngFor="let stream of file?.audioStreams || []">{{stream}}</li>
                <li *ngFor="let stream of file?.videoStreams || []">{{stream}}</li>
            </ul>
        </div>
    </div>
</div>